<style>
    table {
        border-collapse: collapse;
        font-family: "IBM Plex Sans", sans-serif;
    }
    th, td {
        padding: 8px;
        text-align: left;
        font-size: 11.5px;
    }
    th {
        font-weight: bold;
    }

</style>